.App {
  max-width: 100%;
  text-align: center;
  border: solid;
}

.header {
  border: solid;
}

.footer {
  border: solid;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 150px;
  background-color: rgb(72, 92, 128);
  color: white;
}

.nav-links {
  color: white;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links > li:hover {
  color: black;
}

.tab_container {
  border: solid;
  margin: 0.25em;
}
.tab_container > div {
  border: dotted;
  display: inline-block;
  margin: 0.25em;
}
.tab_container > div:hover {
  background-color: antiquewhite;
  border: dotted;
  display: inline-block;
  margin: 0.25em;
}

@media only screen and (max-width: 1366px) {
  .App {
    width: 975px;
    margin: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .App {
    width: 512px;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    width: 404px;
    margin: auto;
  }
}
@media only screen and (max-width: 411px) {
  .App {
    width: 275px;
    margin: auto;
  }
}


